<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1> All Authors </h1>

    <% for(let i of authors) { %>
        <a href="/updateAuthor?authorId=<%= i.authorId%>">Update</a>
        <a href="/deleteAuthor?authorId=<%= i.authorId%>">Delete</a>
        <%= i.firstName%> <%= i.lastName%><br>
    <% } %>
    <%- include('partials/footer')%>
</body>
</html>