<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg-success text-black">
    <%- include('partials/navbar.ejs') %>
        <form action="/newQuote" method="POST">
            <label for="quoteInput">Quote</label>
            <input id="quoteInput" class="form-group" placeholder="Quote" name="quote">
            <br>
            <label for="authorInput">Author</label>
            <select id="authorInput" name="authorId">
                <% for(let i of authorsList) {%>
                    <option value="<%= i.authorId%>"><%= i.firstName %> <%= i.lastName %></option>
                <% } %>
                <!-- <option value="1">Albert Einstein</option>
                <option value="2">Agatha Christie</option> -->
            </select>
            <br>
            <label for="categoryInput">Category</label>
            <select id="categoryInput" name="category">
                <% for (let i of categoriesList) {%>
                    <option value="<%= i.category%>"><%= i.category%></option>
                <% } %>
                <!-- <option value="Inspirational">Inspirational</option>
                <option value="Wisdom">Wisdom</option> -->
            </select>
            <br>
            <button class="btn btn-default">Submit</button>
        </form>
        <%- include('partials/footer')%>
</body>

</html>